*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 121, 121);
}

#calculadora{
    width: 28%;
    padding: 1%;
    border: solid;
    border-radius: 10px;
    background-color: #121212;
}

#parteOndeOsValoresVaoFicar{
    width: 98%;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 1%;
    cursor: default;
}

#parteDosbotoesDoCalculo{
    width: 100%;
}

.linhaDosBotoes{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.botoesDaCalculadora{
    width: 24%;
    padding: 2.5% 0;
    font-size: 20px;
    font-weight: 800;
    background-color: rgb(255, 142, 101);
    border-radius: 10px;
    border: solid;
    cursor: pointer;
}
#deleter{
    background-color: rgb(146, 134, 134);
}

.botoesDoReset{
    width: 48%;
    padding: 2.5% 0;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    border: solid;
    background-color: rgb(146, 134, 134);
}

#botaoDoIgual{
    background-color: rgb(255, 52, 52);
}


.botoesDaCalculadora:hover, #deleter:hover, .botoesDoReset:hover, #botaoDoIgual:hover{
    background-color: rgb(111, 144, 206);
}


@media (max-width: 714px){
    #calculadora{
        width: 40%;
    }
    #parteOndeOsValoresVaoFicar{
        width: 97%;
    }
}

@media (max-width: 474px){
    #calculadora{
        width: 65%;
    }

    #parteOndeOsValoresVaoFicar{
        width: 96%;
    }
}

@media (max-width: 300px){
    .botoesDaCalculadora, .botoesDoReset{
        font-size: 16px;
    }
}